# Function

- Reuse of the code block

- Function also called as method

- function without arguements

- function with arguements

- function with default arguements

- function with keyword arguements (kwargs)

- function with global and local variable

- function with return

- function in function

### Functions without arguements

In [ ]:
# syntax
def <function name>():
    <write your lines here>

In [4]:
num1=eval(input("enter a num1:"))
num2=eval(input("enter a num2:"))
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter a num1: 100
enter a num2: 200

the addition of 100 and 200 is 300

In [9]:
def addition():
    num1=eval(input("enter a num1:"))
    num2=eval(input("enter a num2:"))
    add=num1+num2
    print(f"the addition of {num1} and {num2} is {add}")

**Calling the function**

In [11]:
addition()

enter a num1: 100
enter a num2: 200

the addition of 100 and 200 is 300

In [13]:
def addition():
    num1=eval(input("enter a num1:"))
    num2=eval(input("enter a num2:"))
    add=num1+num2
    print(f"the addition of {num1} and {num2} is {add}")

addition()

enter a num1: 100
enter a num2: 200

the addition of 100 and 200 is 300

In [19]:
def subtraction():
    num1=eval(input("enter a num1:"))
    num2=eval(input("enter a num2:"))
    sub=num1-num2
    print(f"the subtraction of {num1} and {num2} is {sub}")

In [21]:
subtraction()

enter a num1: 300
enter a num2: 200

the subtraction of 300 and 200 is 100

In [37]:
def tax_pay():
    income=eval(input("enter the income:"))
    tax_percentage=eval(input("enter the tax percentage:"))
    tax=income*tax_percentage/100
    print(f"the tax for the {income} is {tax}")

In [39]:
tax_pay()

enter the income: 30000
enter the tax percentage: 18

the tax for the 30000 is 5400.0

**Note**

- Function name rules are same as variable rules

  - No special charecters

  - No numbers before

  - No space between words etc

- Function name should not be any keywords

- Function name should not be any package names

- Function name should not be your notebook name

- Function name should not be any variables which is using inside that function

In [25]:
def addition1():
    n1=eval(input("enter a n1:"))
    n2=eval(input("enter a n2:"))
    add1=n11+n2
    print(f"the addition of {n1} and {n2} is {add1}")

In [27]:
addition1()

enter a n1: 100
enter a n2: 200

NameError: name 'n11' is not defined

- While define the function we doesnot know whether the error is there or not

- For that we need to call the function

In [30]:
try:
    def addition2():
        n1=eval(input("enter a n1:"))
        n2=eval(input("enter a n2:"))
        add1=n11+n2
        print(f"the addition of {n1} and {n2} is {add1}")
except Exception as e:
    print(e)

addition2()

enter a n1: 100
enter a n2: 200

NameError: name 'n11' is not defined

In [32]:
def addition3():
    try:
        n1=eval(input("enter a n1:"))
        n2=eval(input("enter a n2:"))
        add1=n11+n2
        print(f"the addition of {n1} and {n2} is {add1}")
    except Exception as e:
        print(e)

addition3()

enter a n1: 100
enter a n2: 200

name 'n11' is not defined

- try-except should be written inside the function

## Functions without arguements

In [4]:
def addition():
    try:
        n1=eval(input("enter a n1:"))
        n2=eval(input("enter a n2:"))
        add=n1+n2
        print(f"the addition of {n1} and {n2} is {add}")
    except Exception as e:
        print(e)

addition()

enter a n1: 10
enter a n2: 20

the addition of 10 and 20 is 30

In [ ]:
addition(<>) function without arguements

In [ ]:
def addition():
    try:
        n1=eval(input("enter a n1:"))
        n2=eval(input("enter a n2:"))
        add=n1+n2
        print(f"the addition of {n1} and {n2} is {add}")
    except Exception as e:
        print(e)

addition()

- How many variables are there inside the function

   - in above **addition** function 3 variables are there : n1,n2,add

- How many input variables are there

   - input variables means the variable access the values from user as input: **n1,n2**

- How many output variables are there

   - output variables means the variable created because of some operations: **add**

- **Dont touch the output variable**

In [8]:
def addition1(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    add=n1+n2
    print(f"the addition of {n1} and {n2} is {add}")

In [14]:
addition1(1050,2050)

n1: 1050
n2: 2050
the addition of 1050 and 2050 is 3100

In [16]:
def addition2(n1):
    n2=eval(input("enter a n2:"))
    add=n1+n2
    print(f"the addition of {n1} and {n2} is {add}")

In [22]:
addition2(150)

enter a n2: 23

the addition of 150 and 23 is 173

In [ ]:
def addition():
     n1=eval(input("enter a n1:"))
     n2=eval(input("enter a n2:"))
     add=n1+n2
     print(f"the addition of {n1} and {n2} is {add}")

def addition1(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    add=n1+n2
    print(f"the addition of {n1} and {n2} is {add}")

def addition2(n1):
    n2=eval(input("enter a n2:"))
    add=n1+n2
    print(f"the addition of {n1} and {n2} is {add}")

In [28]:
# 1)wap ask the user enter 3 numbers n1,n2,n3 from ketboard
# calculate average

print('======================AVG fn starts===========================')
def AVG():
    n1=eval(input("enter the number 1="))
    n2=eval(input("enter the number 2="))
    n3=eval(input("enter the number 3="))
    avg=(n1+n2+n3)/3
    avg1=round(avg)
    print(f'the average of {n1},{n2},{n3} is {avg1}')

AVG()

print('=========================AVG1 fn starts=======================')
def AVG1(n1):
    print(n1)
    n2=eval(input("enter the number 2="))
    n3=eval(input("enter the number 3="))
    avg=(n1+n2+n3)/3
    avg1=round(avg)
    print(f'the average of {n1},{n2},{n3} is {avg1}')

AVG1(100)

print('=========================AVG2 fn starts=======================')
def AVG2(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    n3=eval(input("enter the number 3="))
    avg=(n1+n2+n3)/3
    avg1=round(avg)
    print(f'the average of {n1},{n2},{n3} is {avg1}')

AVG2(100,200)

print('=========================AVG3 fn starts=======================')
def AVG3(n1,n2,n3):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    avg1=round(avg)
    print(f'the average of {n1},{n2},{n3} is {avg1}')

AVG3(100,200,300)

======================AVG fn starts===========================

enter the number 1= 100
enter the number 2= 200
enter the number 3= 300

the average of 100,200,300 is 200
=========================AVG1 fn starts=======================
100

enter the number 2= 400
enter the number 3= 500

the average of 100,400,500 is 333
=========================AVG2 fn starts=======================
n1: 100
n2: 200

enter the number 3= 600

the average of 100,200,600 is 300
=========================AVG3 fn starts=======================
n1: 100
n2: 200
n3: 300
the average of 100,200,300 is 200

In [34]:
# 2)wap ask the user enter name age city
# print my name is python im 10 years old and came from hyd
def details():
    name=(input("enter the name:"))
    age=eval(input("enter the age:"))
    city=(input("enter the city:"))
    print(f'my name is {name} I am {age} years old and came from {city}')

details()

def details1(name):
    print(name)
    age=eval(input("enter the age:"))
    city=(input("enter the city:"))
    print(f'my name is {name} I am {age} years old and came from {city}')

details1('python')

def details2(name,age):
    print(name)
    print(age)
    city=(input("enter the city:"))
    print(f'my name is {name} I am {age} years old and came from {city}')

details2('rakesh',10)

def details3(name,age,city):
    print(name)
    print(age)
    print(city)
    print(f'my name is {name} I am {age} years old and came from {city}')

details3('rakesh',10,'hyd')

enter the name: python
enter the age: 10
enter the city: hyd

my name is python I am 10 years old and came from hyd
python

enter the age: 10
enter the city: hyd

my name is python I am 10 years old and came from hyd
rakesh
10

enter the city: hyd

my name is rakesh I am 10 years old and came from hyd
rakesh
10
hyd
my name is rakesh I am 10 years old and came from hyd

In [36]:
# 3)wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

def area_of_circle():
    radius=eval(input("enter the radius"))
    pi=3.14
    area=(pi*radius*radius)
    print(area)
    print(f"the area of circle is {area}")

area_of_circle()

def area_of_circle1(radius):
    print(radius)
    pi=3.14
    area=(pi*radius*radius)
    print(area)
    print(f"the area of circle is {area}")

area_of_circle1(10)

def area_of_circle2(radius,pi):
    print(radius)
    print(pi)
    area=(pi*radius*radius)
    print(area)
    print(f"the area of circle is {area}")

area_of_circle2(10,3.14)

enter the radius 10

314.0
the area of circle is 314.0
10
314.0
the area of circle is 314.0
10
3.14
314.0
the area of circle is 314.0

In [38]:
# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

def area_of_triangle():
    breadth=eval(input("enter the breadth"))
    height=eval(input("enter the height"))
    area=(0.5*breadth*height)
    print(area)
    print(f"the area of the right angle triangle is {area}")

area_of_triangle()

def area_of_triangle1(breadth):
    print(breadth)
    height=eval(input("enter the height"))
    area=(0.5*breadth*height)
    print(area)
    print(f"the area of the right angle triangle is {area}")

area_of_triangle1(10)

def area_of_triangle2(breadth,height):
    print(breadth)
    print(height)
    area=(0.5*breadth*height)
    print(area)
    print(f"the area of the right angle triangle is {area}")

area_of_triangle2(10,20)

enter the breadth 10
enter the height 20

100.0
the area of the right angle triangle is 100.0
10

enter the height 10

50.0
the area of the right angle triangle is 50.0
10
20
100.0
the area of the right angle triangle is 100.0

In [40]:
# 5)wap ask the user the bill amount and tip amount
#   calculate total bill
#   var1: bill amount var2: tip amount
#   formuale

def total_amount():
    bill_amount=eval(input("enter the bill amount"))
    tip_amount=eval(input("enter the tip amount"))
    total=(bill_amount+tip_amount)
    print(total)
    print(f"the total bill amount is {total}")

total_amount()

def total_amount1(bill_amount):
    print(bill_amount)
    tip_amount=eval(input("enter the tip amount"))
    total=(bill_amount+tip_amount)
    print(total)
    print(f"the total bill amount is {total}")

total_amount1(1000)

def total_amount2(bill_amount,tip_amount):
    print(bill_amount)
    print(tip_amount)
    total=(bill_amount+tip_amount)
    print(total)
    print(f"the total bill amount is {total}")

total_amount2(1000,100)

enter the bill amount 1000
enter the tip amount 100

1100
the total bill amount is 1100
1000

enter the tip amount 100

1100
the total bill amount is 1100
1000
100
1100
the total bill amount is 1100

In [42]:
# 6)wap ask the user the bill amount and tip percentage
#    take tip percentage as 10
#   calculate total bill= bill amount+ bill amount*tip per/100
#   var1: bill amount var2: tip amount
#    formuale

def total():
    bill_amount=eval(input("enter the bill amount"))
    tip_percent=eval(input("enter the tip percent"))
    tip_amount=bill_amount*tip_percent/100
    print(tip_amount)
    total=(bill_amount+bill_amount*tip_percent/100)
    print(f'the total bill is {total}')

total()

def total1(bill_amount):
    print(bill_amount)
    tip_percent=eval(input("enter the tip percent"))
    tip_amount=bill_amount*tip_percent/100
    print(tip_amount)
    total=(bill_amount+bill_amount*tip_percent/100)
    print(f'the total bill is {total}')

total1(1000)

def total2(bill_amount,tip_percent):
    print(bill_amount)
    print(tip_percent)
    tip_amount=bill_amount*tip_percent/100
    print(tip_amount)
    total=(bill_amount+bill_amount*tip_percent/100)
    print(f'the total bill is {total}')

total2(1000,10)

enter the bill amount 1000
enter the tip percent 10

100.0
the total bill is 1100.0
1000

enter the tip percent 10

100.0
the total bill is 1100.0
1000
10
100.0
the total bill is 1100.0

In [44]:
# 7)wap ask the length and breadth of a rectangle calculate area
#   var1: length  var2: breadth
#   formulae: length * breadth

def area_of_rectangle():
    length=eval(input("enter the length"))
    breadth=eval(input("enter the breadth"))
    area=(length*breadth)
    print(area)
    print(f"the area of the rectangle is {area}")

area_of_rectangle()

def area_of_rectangle1(length):
    print(length)
    breadth=eval(input("enter the breadth"))
    area=(length*breadth)
    print(area)
    print(f"the area of the rectangle is {area}")

area_of_rectangle1(10)

def area_of_rectangle2(length,breadth):
    print(length)
    print(breadth)
    area=(length*breadth)
    print(area)
    print(f"the area of the rectangle is {area}")

area_of_rectangle2(10,20)

enter the length 10
enter the breadth 20

200
the area of the rectangle is 200
10

enter the breadth 20

200
the area of the rectangle is 200
10
20
200
the area of the rectangle is 200

In [48]:
# 8) wap ask the user take the radius and calculate volume of sphere
#   formulae: pi*r**3(pi*r*r*r)

def volume():
    radius=eval(input("enter the radius"))
    pi=3.14
    vol=(volume_of_sphere)=pi*radius**3
    print(vol)
    print(f"the volume of the sphere is {vol}")

volume()

def volume1(radius):
    print(radius)
    pi=3.14
    vol=(volume_of_sphere)=pi*radius**3
    print(vol)
    print(f"the volume of the sphere is {vol}")

volume1(10)

def volume2(radius,pi):
    print(radius)
    print(pi)
    vol=(volume_of_sphere)=pi*radius**3
    print(vol)
    print(f"the volume of the sphere is {vol}")

volume2(10,3.14)

enter the radius 10

3140.0
the volume of the sphere is 3140.0
10
3140.0
the volume of the sphere is 3140.0
10
3.14
3140.0
the volume of the sphere is 3140.0

In [52]:
# 9) wap ask the user enter amount in dollars convert into rupees
#     1$=85rs

def conversion():
    rupee_to_dollars=85
    amount_in_dollars=1000
    conversion=rupee_to_dollars*amount_in_dollars
    print(conversion)
    con=round(conversion)
    print(f'the amount of 1000 dollars converted in rupees is {con} INR')

conversion()

def conversion1(rupee_to_dollars):
    print(rupee_to_dollars)
    amount_in_dollars=1000
    conversion=rupee_to_dollars*amount_in_dollars
    print(conversion)
    con=round(conversion)
    print(f'the amount of 1000 dollars converted in rupees is {con} INR')

conversion1(85)

def conversion2(rupee_to_dollars,amount_in_dollars):
    print(rupee_to_dollars)
    print(amount_in_dollars)
    conversion=rupee_to_dollars*amount_in_dollars
    print(conversion)
    con=round(conversion)
    print(f'the amount of 1000 dollars converted in rupees is {con} INR')

conversion2(85,100)

85000
the amount of 1000 dollars converted in rupees is 85000 INR
85
85000
the amount of 1000 dollars converted in rupees is 85000 INR
85
100
8500
the amount of 1000 dollars converted in rupees is 8500 INR

In [58]:
# 10)wap ask the user enter weight in kgs convert into pounds
#    1kg= 2.2pounds

def conversion3():
    kg_to_pounds=2.2
    weight_in_kg=70
    conversion=weight_in_kg*kg_to_pounds
    print(conversion)
    con=round(conversion)
    print(f'the weight of 70kg converted to poundds is {con}pounds')

conversion3()

def conversion4(kg_to_pounds):
    print(kg_to_pounds)
    weight_in_kg=70
    conversion=weight_in_kg*kg_to_pounds
    print(conversion)
    con=round(conversion)
    print(f'the weight of 70kg converted to poundds is {con}pounds')

conversion4(2.2)

def conversion5(kg_to_pounds,weight_in_kg):
    print(kg_to_pounds)
    print(weight_in_kg)
    conversion=weight_in_kg*kg_to_pounds
    print(conversion)
    con=round(conversion)
    print(f'the weight of 70kg converted to poundds is {con}pounds')

conversion5(2.2,70)

154.0
the weight of 70kg converted to poundds is 154pounds
2.2
154.0
the weight of 70kg converted to poundds is 154pounds
2.2
70
154.0
the weight of 70kg converted to poundds is 154pounds

### Functions with default arguements

In [65]:
def total():
    bill_amount=eval(input("enter the bill amount"))
    tip_percent=eval(input("enter the tip percent"))
    tip_amount=bill_amount*tip_percent/100
    print(tip_amount)
    total=(bill_amount+bill_amount*tip_percent/100)
    print(f'the total bill is {total}')

total()

enter the bill amount 1000
enter the tip percent 10

100.0
the total bill is 1100.0

In [71]:
def total1(bill_amount,tip_percent=20):
    tip_amount=bill_amount*tip_percent/100
    print(tip_amount)
    total=(bill_amount+bill_amount*tip_percent/100)
    print(f'the total bill is {total}')

total1(1000)

200.0
the total bill is 1200.0

- In the above function the tip_percent is fixed as 20

- this is called default arguements

- while calling the function no need to provide the tip_percent again

- If you provide again the value will change

In [73]:
def AVG3(n1,n2,n3=30):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    avg1=round(avg)
    print(f'the average of {n1},{n2},{n3} is {avg1}')

AVG3(10,20)

n1: 10
n2: 20
n3: 30
the average of 10,20,30 is 20

**Note: Default arguements always at last**

In [78]:
def AVG3(n1,n3,n2=20):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    avg1=round(avg)
    print(f'the average of {n1},{n2},{n3} is {avg1}')

AVG3(10,30)

n1: 10
n2: 20
n3: 30
the average of 10,20,30 is 20

In [ ]:
n1,n2,n3=100           # W
n1,n2=100,n3           # F
n1=100,n2,n3           # F
n1,n2=100,n3=100       # W
n1=100,n2,n3=100       # F
n1=100,n2=100,n3       # F
n1=100,n2=100,n3=100   # W

- Function with arguements

- Function without arguements

- Function with default arguements

In [4]:
print("Function without arguements")
def tax_cal():
    salary=eval(input('enter the salary'))
    tax_per=eval(input('enter tax percent'))
    tax_pay=salary*tax_per/100
    print("the total tax pay is:",tax_pay)

tax_cal()

print("Function with arguements")
def tax_cal1(salary,tax_per):
    tax_pay=salary*tax_per/100
    print("the total tax pay is:",tax_pay)

tax_cal1(20000,8)

print("Function with default arguements")
def tax_cal2(salary,tax_per=10):
    tax_pay=salary*tax_per/100
    print("the total tax pay is:",tax_pay)

tax_cal2(20000)

Function without arguements

enter the salary 40000
enter tax percent 10

the total tax pay is: 4000.0
Function with arguements
the total tax pay is: 1600.0
Function with default arguements
the total tax pay is: 2000.0

In [12]:
complex(3,4)  # real=3, imag=4  # output=3+4j

(3+4j)

In [14]:
complex(3)    # real=3, imag=0, output= 3+0j

(3+0j)

In [16]:
complex()     # real=0, imag=0, output= 0+0j

0j

- Now onwards whenever you see any package

- always do shift+tab inside the brackets and observe

- that the functions are with or without default

In [21]:
def add(a,b,c):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b} and {c} is: {summ}')

add(100,200,300)

a: 100
b: 200
c: 300
the summation of 100,200 and 300 is: 600

In [28]:
#### case-1

def add(a,b,c=300):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b} and {c} is: {summ}')

add(100,200)

a: 100
b: 200
c: 300
the summation of 100,200 and 300 is: 600

**case-2**

In [26]:
def add(a,b,c=300):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b} and {c} is: {summ}')

add(100,200,600)

a: 100
b: 200
c: 600
the summation of 100,200 and 600 is: 900

- In above case we already provided default value c=400

- but while we call the function c value become=600

- step-1: Define the function: while define what is the value 400

- ste-2: call the function: while calling the function value become 600

- ste-3: run the function: while running the function value become 600

In [31]:
def add(a,b,c=400):
    c=1000
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b} and {c} is: {summ}')

add(100,200,600)

# while define c=400
# while calling c=600
# while running c=1000

a: 100
b: 200
c: 1000
the summation of 100,200 and 1000 is: 1300

In [91]:
c=3000
def add(a,b):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b} and {c} is: {summ}')

add(100,200)

a: 100
b: 200
c: 3000
the summation of 100,200 and 3000 is: 3300

## Global variable vs local variable

- The variables outside the function is called as **Global Variable**

  - Global variables can be used anywhere
 
  - global variables can be used inside the function also outside the function
 
- The variables inside the function is called as **local variable**

   - local variables can be used only inside the function
 
   - local variables can not be used outside the function

In [37]:
def addition():
    n1=100
    n2=200
    summ=n1+n2
    print(f'the summation of {n1}, {n2} is : {summ}')

addition()

the summation of 100, 200 is : 300

In [41]:
n1=1000
n2=2000
def addition():
    summ=n1+n2
    print(f'the summation of {n1}, {n2} is : {summ}')

addition()

the summation of 1000, 2000 is : 3000

In [43]:
n1

1000

In [45]:
n2

2000

**How to convert local variable to Global variable**

- if we want to use summ variable outside the function

- then initialize summ as global also using **global** keyword

In [51]:
n1=1000
n2=2000
def addition():
    global summ
    summ=n1+n2
    print(f'the summation of {n1}, {n2} is : {summ}')

addition()

the summation of 1000, 2000 is : 3000

In [53]:
summ

3000

**Unbound local error**

- In below example s is not initialized

- we might think we will get name error

- but inside the function we will get **unbound local error**

In [73]:
def add1():
    n1=100
    s=s+n1
    print(s)
add1()

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [66]:
def add1():
    n1=100
    s1=summ1+n1
    print(s1)
add1()

NameError: name 'summ1' is not defined

In [ ]:
def add1():
    n1=100
    s=s+n1
    print(s)
add1()

###################################

def add1():
    n1=100
    s1=summ1+n1
    print(s1)
add1()

###################################

def add1():
    s1=0
    n1=100
    s1=summ1+n1
    print(s1)
add1()

###################################

def add2():
    summ1=0
    n1=100
    summ1=summ1+n1
    print(summ1)
add2()

In [77]:
def add2():
    summ1=0
    n1=100
    summ1=summ1+n1
    print(summ1)
add2()

100

In [79]:
def add3():
    summ2=100
    n1=100
    summ2=summ2+n1
    print(summ2)
add3()

200

In [83]:
def avg(a,b,c):
    ADD=a+b+c
    AVG1=ADD/3
    print(ADD,AVG1)
avg(10,20,30)

60 20.0

In [85]:
def avg(a,b,c):
    global ADD,AVG1
    ADD=a+b+c
    AVG1=ADD/3
    print(ADD,AVG1)
avg(10,20,30)

60 20.0

In [87]:
AVG1

20.0

In [89]:
ADD

60

In [1]:
c=3000
def add(a,b):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b} and {c} is: {summ}')
c=5000
add(100,200)

# step-1 : c=3000
# step-2 : define the fn
# step-3 : c=5000
# step-4 : call the fn
# step-5 : run th fn

a: 100
b: 200
c: 5000
the summation of 100,200 and 5000 is: 5300

In [3]:
def fun(n):
     return [n**2,n**3]
res = fun(3)
print(res)

output [9,27]

[9, 27]

NameError: name 'output' is not defined

In [ ]:
# WAP ssk the user to enter the number and check even or odd
# function without arguments with default

def even_odd():
    num=eval(input("enter a number:"))
    if num%2==0:
      print

** parameter vs variables**
- parametr are are called as arguments
 - this is always inside the function brackets
-varaibles either outside the function or inside the function`

**return**
- return means function is giving something
- we know that local variables cannot use outside the function
- in order to use local variables outside the function,we we have two methods
      -global
      -retuen

In [12]:
def add():
    a=10
    b=20
    c=a+b
    return(c)
add()

30

In [15]:
c

5000

In [22]:
def add():
    a=10
    b=20
    c=a+b
    return(a,c)
a,c=add()

In [25]:
a,c

(10, 30)

In [31]:
def avg(a,b,c):
    summ=a+b+c
    AVG=summ/3
    return(summ,AVG)

summ,AVG=avg(10,20,30)
print(summ)
print(AVG)

60
20.0

In [56]:
def even_odd():
    num=eval(input("enter a number:"))
    if num%2==0:
      return(f"{num} is even number")
    else :
        return(f"{num}is odd number")
num1=even_odd()

enter a number: 6

**function in function**

In [63]:
def greet1():
    print('hello good morning')
    
def greet2():
    print('hello good night')
greet1()
greet2()

hello good morning
hello good night

In [67]:
def greet1():
    print('hello good morning')
    
def greet2():
    print('hello good night')
    greet1()
greet2()

hello good night
hello good morning

In [71]:
def greet1():
    print('hello good morning')
    greet2()
def greet2():
    print('hello good night')
greet1()

hello good morning
hello good night

In [87]:
def greet3():
    print('i dont know what im doing')
    
greet3()

i dont know what im doing

# Q1 factioral recursion 5! =5*4*3*2*1*
# 2  calculator 

# step 1;create 4 fumctions
#def add(a,b):
#     return(a+b)
#def multiplication
#def divison
#def subtraction

print ('entyer 1 for add sub and so on')

def main():
     option=eval(input('enter between 1 to 4'))
    if option==1:
        a=
        b=
        add()
        return
   elif option==2:
        a=
        b=
        mul()
        return

In [111]:
# Q1 factioral recursion 5! =5*4*3*2*1*

def factorial(n):
    if n==0:
        return(1)
    else:
        return(n*factorial(n-1))
factorial(5)

120

In [15]:
# 2  calculator 

def add(a,b):
    return(a+b)

def sub(a,b):
    return(a-b)

def mul(a,b):
    return(a*b)

def div(a,b):
    return(a/b)

print("enter 1 for addition, 2 for subtraction, 3 for multiplication and 4 for division")

def main():
    option=eval(input("Enter a number between 1 to 4:"))
    if option==1: 
        a=eval(input("enter first number:"))
        b=eval(input("enter second number:"))
        return(add(a,b))
    elif option==2:
        a=eval(input("enter first number:"))
        b=eval(input("enter second number:"))
        return(sub(a,b))
    elif option==3:
        a=eval(input("enter first number:"))
        b=eval(input("enter second number:"))
        return(mul(a,b))
    elif option==4:
        a=eval(input("enter first number:"))
        b=eval(input("enter second number:"))
        return(div(a,b))

enter 1 for addition, 2 for subtraction, 3 for multiplication and 4 for division

main()

In [ ]:
inheritence,polymosrphism,abstaraction,and encapsulation

In [7]:
def number_to_words(n):
    ones = ["", "one" ,"two", "three", "four", "five", "six", "seven", "eight", "nine"]
    tens = ["", "", "twenty", "thirty", "fourty", "fifty", "sixty", "seventy", "eighty", "ninghty"]
    teens =["ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
    
if 10 <= n < 20:
     teens[n-10]
elif n < 10:
     ones[n]
else: 
     tens[n // 10] + ("-"+ ones[n % 10] if n % 10 != 0 else "")
print(number_to_words(55))

NameError: name 'n' is not defined

In [3]:
def number_to_words(n):
    ones = ["", "one" ,"two", "three", "four", "five", "six", "seven", "eight", "nine"]
    teens =["", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
    tens = ["", "", "twenty", "thirty", "fourty", "fifty", "sixty", "seventy", "eighty", "ninghty"]
number = 56
if 10 < number < 20:
    eords = teens[number - 10]
else:
    tens_part = tens[number - 10]
else:
     tens_part = tens[number - 10
     ones_part = ones[ % 10]
     words = tens_part + ("-" + ones_part
if ones_part else "")
    print(words)

SyntaxError: invalid syntax (1282625803.py, line 10)