- variables
- data types
- type conversion
- print
- eval and input

- basic representation
- inbulit function
   - print
   - type
   - len
   - sum
   - max
   - min
   - sorted
   - reversed
- concentenation
- indexing
- mutable or immutable concept
- slice
- methods

**basic representation**

In [7]:
name='python'
name

'python'

In [9]:
print(name)

python

In [13]:
name="python"
name

'python'

- python by default gives output in **single quotes**
- when we print the string the output display **without quotes**

In [22]:
str1= "I love "python"
print(str1)

SyntaxError: unterminated string literal (detected at line 1) (3114323731.py, line 1)

**doc string**
- triple quotes also called as the as doc string
- triple quotes means the user by to convey some information

In [25]:
name='python'
type(name)

str

In [33]:
name1="tejakumar"
len(num1)

9

In [62]:
max(name1)

NameError: name 'name1' is not defined

In [41]:
min(n1,n2,n3)

4

In [60]:
sorted(name1)

NameError: name 'name1' is not defined

In [54]:
print(reversed(name1))

NameError: name 'name1' is not defined

**sorted**

- sorted means either ascending or desemding order
- ascending order:small to big
- decending order:big to small

In [ ]:
sorted ('python')
# by fault asccending
# can i change

In [72]:
def add (a,b):
    print(a+b)
add(10,20)

30

In [74]:
def add(a,b):
    print(a+b)
add(a=10,b=20)

30

In [78]:
def add(a,/,b):
    print(a+b)
add(10,b=20)

30

In [82]:
def add(a,/b,):
    print(a+b)
add(a=10,20)

SyntaxError: invalid syntax (1296546600.py, line 1)

**note:**
- / before dont use argument name
- / after you can use argument name, that is oue wish
- * indicates no need maintain the order of the argument

**note**

(*) indicates provide the argument name

In [92]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
sorted('python') 
sorted(iterable='python')
sorted('python',reverse=true)
sorted(iterable='python',reverse=true)
sorted('python',true)

**reversed**

In [95]:
ans=reversed('tejakumar')
ans

- answer saved adress memory location
- we can see the answer by using for loop or list 
- whenever we see less than greater than symbol answer
- try to apply fo lopp or list

In [111]:
ans=reversed('tejakumar')
ans
for i in ans:
    print(i)

r
a
m
u
k
a
j
e
t

**concatenation**

In [118]:
str1='Hello'
str2='python'
str1+str2

'Hellopython'

In [122]:
str1-str2
str1*str2
str1/str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [128]:
'python'*3

'pythonpythonpython'

In [130]:
str1='hello'
str2='python'
str1+str2

'hellopython'

In [132]:
str1='hello'
str2=' python'
str1+str2

'hello python'

In [138]:
str1='hello'
str2='python'
str1+'  '+str2

'hello  python'

In [2]:
'tejakumar'*3

'tejakumartejakumartejakumar'

In [ ]:
str1-str2: 
TypeError: unsupported operand type(s) for -: 'str' and 'str' 
str1/str2: 
TypeError: unsupported operand type(s) for /: 'str' and 'str' 
str1(sequence)*3: 
TypeError: can't multiply sequence by non-int of type 'str' 
'python'*3

**index**

In [4]:
str1='python'
str1

'python'

In [ ]:
-6 -5 -4 -3 -2 -1
p y t h o n
0 1 2 3 4 5

**access the charcters or elements use square bracket**

In [7]:
str1[0],str1[-6]
str1[1],str1[-5]
str1[2],str1[-4]
str1[3],str1[-3]
str1[4],str1[-2]
str1[5],str1[-1]

('n', 'n')

In [ ]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]
str1[i]

In [14]:
str1='python'
n=len(str1)
for i in range(0,n):
      print(str1[i])

p
y
t
h
o
n

In [16]:
str1='hello how are you'
n=len(str1)
for i in range(0,n):
        print(str1[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [ ]:
# Q1)
# the postive index of p is 0
# the postive index of y is 1
# the postive index of n is 2
# Q2)
# the negative index of p is -6
# the negative index of y is -5
# the negative index of n is -4 and so on
# Q3)
# The postvive index is 0 and negtaive index is -6 for p

In [18]:
# Q1) first you need to print the numbers
#-6 -5 -4 -3 -2 -1
#p y t h o n
#0 1 2 3 4 5
for i in range(0,6):print(i,end=' ')
for i in range(-6,0):print(i,end=' ')

0 1 2 3 4 5 -6 -5 -4 -3 -2 -1

In [20]:
str1='python'
n=len(str1)
for i in range(0,n):
        print(f'the postive index of {str1[i]} is {i}')

the postive index of p is 0
the postive index of y is 1
the postive index of t is 2
the postive index of h is 3
the postive index of o is 4
the postive index of n is 5

In [ ]:
str1='python'
n=len(str1)

In [24]:
for i in range(-6,0):
        print(i)

-6
-5
-4
-3
-2
-1

In [39]:
for i in range(0,6):   postive
for i in range(-6,0)   nega
for i in range(-6,6)

SyntaxError: invalid syntax (1846221839.py, line 2)

In [41]:
for i in range (0,6):
    print(i,i,-6)
    print(f'the positive index is {i},negative index is {i,6} for : {str1[i]}')
    print(f'the positive index is {i}  for : {str1[i]}')
    print(f'the positive index is {i-6} for : {str1[i]}')

0 0 -6
the positive index is 0,negative index is (0, 6) for : p
the positive index is 0  for : p
the positive index is -6 for : p
1 1 -6
the positive index is 1,negative index is (1, 6) for : y
the positive index is 1  for : y
the positive index is -5 for : y
2 2 -6
the positive index is 2,negative index is (2, 6) for : t
the positive index is 2  for : t
the positive index is -4 for : t
3 3 -6
the positive index is 3,negative index is (3, 6) for : h
the positive index is 3  for : h
the positive index is -3 for : h
4 4 -6
the positive index is 4,negative index is (4, 6) for : o
the positive index is 4  for : o
the positive index is -2 for : o
5 5 -6
the positive index is 5,negative index is (5, 6) for : n
the positive index is 5  for : n
the positive index is -1 for : n

**when to use **in** - when to use -range operators**

- **in** operator directly access the elements
- **range** operators access the elements musing index or nnumbers
- any problem statement if you need number then go for range
- otherwise go for in operators directly

In [2]:
str1='python'
for i in str1:
    print(i)

for i in range(0,6):
    print(i)

p
y
t
h
o
n

In [11]:
# q4) 

str2='ola ola ola'
for i in range(len(str2)):
    if str2[i]=='a':
        print(f"the indexes of 'a'in string is {i}")

the indexes of 'a'in string is 2
the indexes of 'a'in string is 6
the indexes of 'a'in string is 10

In [15]:
# q5)

str2='ola ola ola'
summ=0
for i in range(len(str2)):
    if str2[i]=='a':
        summ=summ+i
        print(f"the indexes of 'a'in string is {summ}")

the indexes of 'a'in string is 2
the indexes of 'a'in string is 8
the indexes of 'a'in string is 18

In [17]:
# q6)

str2='ola ola ola'
count=0
for i in range(len(str2)):
    if str2[i]=='a':
        count=count+i
        print(f"the indexes of 'a'in string is {count}")

the indexes of 'a'in string is 2
the indexes of 'a'in string is 8
the indexes of 'a'in string is 18

In [35]:
# q7)

str2='hi how are u'
s1='aaeiou'
count=0
for i in str1:
    if i in s1:
         print(i)
         count=count+1
print(count)

o
a
o
a
o
a
6

In [52]:
# q8) 


s1=''
for i in str1:
    if i in 'aeiou'and i not in s1:
        print(i)
        s1=s1+i

a
e

**mutable-immutable**

- mutable means change
- immutable means can not change
- we can not change the elemnent using index opertations

In [58]:
str1='hello'
str[2]='L'

TypeError: 'type' object does not support item assignment

In [62]:
l =[10,20,30]
l[1]=200
l

[10, 200, 30]

**slicing and methods**

**slice**

- slice means cut in to pieces
- it has similar analogy with for loop range
- in the for loop range we have start ,stop,step
- range(start,stop,step)str[start:stop:step]

In [ ]:
-17  -16  -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
h    e    l   l   o       h   o  w     a   r  e    y                     
0     1    2   3   4  5    6  7  8  9  10 11 12 13 14  15 16

$case-1$
**str[:stop]
 - be default start=0
 - by default step = positive derection 1
 - last=stop-1

In [21]:
str1='hello how are you'
str1[:5]
# start=0 step =1 stop=5-1=4

'hello'

$case-2$

 - be default start=start value
 - by default step = positive derection 1
 - last=last index

In [9]:
str[-3:]

'you'

$case-3$
**str[:stop]
 - be default start=0
 - by default step = positive derection 1
 - last=stop-1

In [ ]:
# -17  -16  -15  -14  -13  -12  -11  -10   -9   -8   -7  -6  -5  -4  -3  -2  -1
# h     e     l    l    o         h    o    w         a   r   e       y    o   u
# 0     1     2    3    4   5     6    7    8    9   10  11  12  13   14   15  16

In [22]:
str1='hello how are you'
str1[-15:10]

'llo how '

In [23]:
str1[-15:10]

'llo how '

In [25]:
str1[-10:2]

''

In [27]:
str1[2:-2]

'llo how are y'

In [29]:
for i in range(2,-2):
    print(i)

$case-4$
**str[:stop]
 - be default start=0
 - by default step = positive derection 1
    - last=stop 1
-if step is negative value
   - last=stop-1

In [34]:
# -17  -16  -15  -14  -13  -12  -11  -10   -9   -8   -7  -6  -5  -4  -3  -2  -1
# h     e     l    l    o         h    o    w         a   r   e       y    o   u
# 0     1     2    3    4   5     6    7    8    9   10  11  12  13   14   15  16

str1[1:15:2]

'el o r '

In [36]:
str1[2:-5:2]

'lohwa'

In [38]:
str1[15:2:2]

''

In [ ]:
# -17  -16  -15  -14  -13  -12  -11  -10   -9   -8   -7  -6  -5  -4  -3  -2  -1
# h     e     l    l    o         h    o    w         a   r   e       y    o   u
# 0     1     2    3    4   5     6    7    8    9   10  11  12  13   14   15  16

In [40]:
str1[2:150]

'llo how are you'

In [42]:
str1[:]

'hello how are you'

In [44]:
str1[::]

'hello how are you'

In [46]:
str1[::-1]

'uoy era woh olleh'

In [48]:
num=12345
int(str(num)[::-1])

54321

In [52]:
str1[2:15:4]

'lhay'

- basic representations

- inbuilt funtions
   - min max len type sum reverse sorted
- concatenation
-index
-in vs range
- mutable vs immutable
- slice

**methods**

In [34]:
dir ('sangepo')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**upper**

In [39]:
str1='sangepu'
str1.upper()

'SANGEPU'

- lower 
- title
- capitilize
- casefold

In [41]:
str1='sangepu'
str1.upper()

'SANGEPU'

In [47]:
str1.lower()

'lower'

In [53]:
str1.title()

'Lower'

In [57]:
str1.capitalize()

'Lower'

In [61]:
str1.casefold()

'lower'

**difference between methods and inbuilt functions**

In [ ]:
len('python') === upper('python')
mas()
min()
type()
print()
sum()

str1.upper()
str1.lower()
str1.title()
str.1capitalize()
str.1 casefold()

**center**

In [88]:
str1='python'
str1.center(12,'*')

# 3starts + python(6)+4*
# 4* + 6 +39
# here 12 means the len of string becomes 12 character
# already 'python' string has 6 character 
# also remaining 6 characters padd as*

'***python***'

In [ ]:
# assume that i already have
# string='***python  '

**STRIP-LSTRIP-RSTRIP**

- strip will remove the character both left and right side
- lstrip will remove the character on left side
- rstrip will remove the character on right side

In [ ]:
str1=' pyhton '
str2='***python****'
str3='  python****'

In [94]:
str1=' python '
str1.strip('*')

' python '

In [98]:
str1.lstrip('*')

' python '

In [100]:
str1.rstrip('*')

' python '

In [104]:
str1='****uday  sangepu****'
str1.strip('*')

'uday  sangepu'

In [106]:
str2='   uday sangepu****'
str2.strip().rstrip('*')

'uday sangepu'

In [114]:
str1='uday sangepu'
str1.startswith('u')

True

In [112]:
str1='uday sangepu'
str1.endswith('u')

True

In [19]:
import inflect

p = inflect.engine()
number = 163

words = p.number_to_words(number)
print(words)

one hundred and sixty-three

31/01/25


**COUNT**

In [10]:
str1='ola ola ola'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)

3

In [12]:
str1='ola ola ola'
str1.count('a')

3

In [16]:
str1='ola ola ola'
str1.count('ola ')

2

**case-2**

In [21]:
#u  d  a  y    s  a  n  g  e  p  u
#-1 -2 -3 -4   1  2  3  4  5  6  7
str1.count('a',-4)

1

In [23]:
str1.count('a',6)

2

In [27]:
str1.count('a',2,4)

1

In [31]:
str1.count('z')

0

**SLIDING WINDOW APPROACH**

- fix the slice value first
- then increase the slice by 1  **str1[i:i+3]**
- then increase the slice by 1 : **for i in range(len(str1))**
- whenever it is equal to substring : **str1[i:i+3]=='ola'**
- then update the count count=count+1

In [7]:
# str1='ola ola ola'
#count the number of substring: 'ola'
# without using count method

count=0
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count+=1
print(count)

3

**REPALCE**

In [12]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [14]:
str1.replace('z','z')

'welcome'

In [16]:
str1='welllcome'
str1.replace('l','L')

'weLLLcome'

In [24]:
str1='welllcome'
str1.replace('l','L',1)

'weLllcome'

In [26]:
str1.replace('z','Z')

'welllcome'

- by default it will replace all the occurence
- the user can provide count which indicates how many letters can replace
- if the substring not found it will return the original string itself

In [35]:
str1='restart'
# replace 'r' with $
# i want only second 'r'
# 'resta$t'

str1= "restart"
s1=str1[0:5]
s2=str1[5:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [50]:

str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**INDEX METHOD**

In [53]:
str1='restart restart'
str1.index('t')

3

In [55]:
str1='restart restart'
str1.index('t'),str1.index('r')

(3, 0)

In [3]:
str1='restart restart'
str1.index('r')
str1.index('r',1)
str1.index('r',6)
str1.index('r',9)

13

In [ ]:
str1.index('r')
str1.index('r',i1+1)
str1.index('r',6)
str1.index('r',9)

**FIND**
- tell me the difference between index and find

In [8]:
str1='restart'

In [1]:
x="10"
y=5
print(x*y)

1010101010

In [ ]:
str1='virat.kohli@recb.com'
str2='rohit.sharma@mi.com'
str3='ms'dhoni@csk.com'
# extract thr first name from str1:virat
# eextract the second name str1:kohli
# extraact the company name from str1: rcb
str4='a.b@c.com'

# idea: try to get the trigger points
str1='hello how'
str1[0:5]
# step-1: first extract .index
#step -2: extract the @ index
# step-3: extract the second .dot index

In [ ]:
str1='hello how'
id1=str1.index('0')
id2=str1.index('0',id1+1)

In [5]:
str1='virat.kohli@recb.com'
first_dot=dot1.index('.')
print(first_dot)
first_name=str1[:first_dot]
print(first_name)

str2='rohit.sharma@mi.com'
first_dot=str2.index('.')
first_name

NameError: name 'dot1' is not defined

In [ ]:
def extract(str1):
    first_dot=str1.index('.')
    second_dot=str1.index('.',first_dot+1)
    at_the

**split**

- split is used to convert a string to list of elements
- by default it will split based on space

In [14]:
str1='hai how are you'
str1.split()

['hai', 'how', 'are', 'you']

In [16]:
str1='hai how are you'
str1.split('.')

['hai how are you']

In [18]:
str1='hai  how are you'
str1.split()

['hai', 'how', 'are', 'you']

In [20]:
str1='hello hai how are you'
str1.split('o')

['hell', ' hai h', 'w are y', 'u']

**join**

In [31]:
str1='hai how are you'
l=str1.split()
l
' '.join(l)

'hai how are you'

In [33]:
str1='hai how are you'
l=str1.split('.')
l
' '.join(l)

'hai how are you'

In [35]:
str1='hai  how are you'
l=str1.split()
l
' '.join(l)

'hai how are you'

In [37]:
str1='hai how are you'
l=str1.split('o')
l
' '.join(l)

'hai h w are y u'

In [ ]:
- upper/lower/casefold
- title/capitalize
- center
- lstrip/rstrip/strip
- strtswith/endswith
- replace
- count
- index/find
- split/join

In [ ]:
1. Creating a List
python
Copy
Edit
my_list = [1, 2, 3, 4, 5]
print(my_list)
Output:

csharp
Copy
Edit
[1, 2, 3, 4, 5]
2. Accessing Elements
a) Indexing (Starts from 0)
python
Copy
Edit
print(my_list[0])  # First element
print(my_list[-1]) # Last element
b) Slicing
python
Copy
Edit
print(my_list[1:4])  # Elements from index 1 to 3
print(my_list[:3])   # First 3 elements
print(my_list[::2])  # Every second element
3. Modifying a List
a) Changing Elements
python
Copy
Edit
my_list[2] = 10
print(my_list)  # [1, 2, 10, 4, 5]
b) Adding Elements
python
Copy
Edit
my_list.append(6)       # Adds at the end
my_list.insert(2, 99)   # Inserts at index 2
print(my_list)          # [1, 2, 99, 10, 4, 5, 6]
c) Removing Elements
python
Copy
Edit
my_list.remove(10)   # Removes the first occurrence of 10
my_list.pop(3)       # Removes element at index 3
print(my_list)
4. List Operations
a) Length of List
python
Copy
Edit
print(len(my_list))  # Number of elements
b) Checking Existence
python
Copy
Edit
print(3 in my_list)   # True if 3 exists
c) Looping Through a List
python
Copy
Edit
for item in my_list:
    print(item)
5. List Comprehension
Shorter way to create lists.

python
Copy
Edit
squares = [x**2 for x in range(1, 6)]
print(squares)  # [1, 4, 9, 16, 25]
6. Sorting and Reversing
python
Copy
Edit
numbers = [5, 2, 8, 1, 3]
numbers.sort()      # Ascending order
print(numbers)      # [1, 2, 3, 5, 8]

numbers.reverse()   # Reverse order
print(numbers)      # [8, 5, 3, 2, 1]
7. Copying a List
python
Copy
Edit
new_list = my_list.copy()  # Correct way to copy a list
Do you need more details on a specific part? 😊

In [1]:
num1=100
num2=200
num3=300
max(num1,num2,num3)

300

In [10]:
str1='the telephone is 12345'
num=''
for i in str1:
    if i.isdigit():
        num=num+i
print(num)

12345

**LIST**

**basic representation**

In [ ]:
- strings will use in quotes