**LOOPS**
- Loops are used to iterate the code multiple times
- functions are used to reuse the code block
- that code block can be repeated multiple times 
- whenever you are doing same task multiple times think about jump
- we have two loops
    - for loop
    - while loop
- any loop we need three things
   - intilization (start point)
   - incremet or decrement
   - condition to stop

**FOR LOOP**

In [ ]:
for <variable> in range(<number>):
    <write your code her>

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:

for i in range(3):
    print(i, end=' ')

0 1 2

**case - 1:range(stop)**

- start=0 : python index always starts with zero
- increment by 1
- last= stop-1

In [13]:
for i in  range(10):
    print(i ,end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range(3):
    print('good night')

good night
good night
good night

**case -2:range(start,stop)**
- suppose i want to start my loop with a particular number
- then add start also inside range 
- start=start 
- increment by 1
-last=stop-1
range(10,20)
- start=20,increnment by 1,last=20-1=19

In [10]:
for i in range (10,20):
    print(i ,end=' ')

10 11 12 13 14 15 16 17 18 19

In [16]:
# waqp ask the user print the sqaure first 5 number
for i in range(1,6):
      print(i+i,end=' ')

2 4 6 8 10

In [22]:
# wap ask the user enter a number the prompt should happen 5 times
for i in range (5):
    num=eval(input("emter the number"))
    print(num*num,end=' ')

emter the number 20

400

emter the number 20

400

emter the number 30

900

emter the number 60

3600

emter the number 60

3600

**case - 3 range(start,stop,step)** vvv imp
- step=start only
- step:
  - look about step sign is it positive or negative sign
  - positive means increment 
     - last : stop - 1
   - negative means decrement
     - last : stop+1

In [25]:
# eaxmple - 1 :range(3,20,2)
# satrt=3
# step=+2 positive direction 
# last = 20-1=19-18
# 3,5,7,9,11,13,15,17

for i in range (3,19,2):
    print(i,end=' ')

3 5 7 9 11 13 15 17

In [ ]:
# eaxmple - 2 :range(3,19,2)
# satrt=3
# step=+2 negative direction 
# last = 19+1=20

for i in range(3,19,-2):
    print(i,end=' ')

In [32]:
for i in range(3,-19,-2):
    print(i, end=' ')

3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17

In [ ]:
range(3,15,3) # possible
range(3,15,-3)# not possible
range(3,-15,3) # not possible
range(-3,15,3) # possible
range(3,-15,3) # possible
range(-3,-15,3) # not possible
range(-3,15,-3) # not possible
range(15,3,3) # not possible
range(15,3,-3) # possible
range(15,-3,3) # not possible
range(-15,3,3) # possible
range(-15,3,-3) # not possible
range(-15,-3,3) # possible
range(-15,-3,-3) # not possible

In [ ]:
for i in  range (20,-10,-20):
    ptint(i)

In [19]:
# q4) print the 7 th table
# 7*1=7
# 7*2=14
# 7*3=21

for i in range (1,11):
    print(f"7x{i}={7*i}")

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [32]:
# q 5 ) find the number of divisor of 75
# if you divide 75 with any number the remainder should be zero 
# 75%1==0 true then print 1
# 75%2==0 false
# 75%3==0 true then print 3
# 75%4==0
# 75%5==0
#
#75#10==0 T 
# 
#75#10==0 T 
# 75#75==0

# if 75%i==0

n=eval(input("enter the number for divisors needed:"))
for i in range(1,n+1):
    if n%i==0:
        print(f"the divison of {n} are {i}")

enter the number for divisors needed: 75

the divison of 75 are 1
the divison of 75 are 3
the divison of 75 are 5
the divison of 75 are 15
the divison of 75 are 25
the divison of 75 are 75

In [36]:
#q6) sum of first 10 natural number 
# natural : starts from 1
# 1+2+3+4+5+6+7+8+9+10=55
# n(n+2)/2
n=10
n*(n+1)/2

55.0

**summation wrapper**
- starting we intilise th sum value: sum=0
- inside loop we will add sipmle line :sum =sum+i
- sum = 0
- for loop
   - summ=summ+i

In [43]:
# sum of first 10 natural number 
summ = 0
for i in range(1,11):
    summ=summ+i
print(f"the sum of first 10 natural number is {summ}")

the sum of first 10 natural number is 55

In [54]:
# q7) find the sum of divisors of 75
# 75 :1,3,5,15,25,75
#     1+3+5+15+25+75
n2=eval(input("enter the number for divisors needed:"))
summ1 = 0
for i in range(1,n2+1):
    if n2%i==0:
        summ1=summ1+i
print(f"the sum of divisors of {n2} is {summ1}")

enter the number for divisors needed: 75

the sum of divisors of 75 is 124

**counter wrapper**
- counter means counting the successs ones
- count=0
-  for loop
  - count=count+1

In [64]:
# find the number of divisors of 75

n3=eval(input("enter the number for divisors needed:"))
count = 0
for i in range(1,n3+1):
    if n3%i==0:
        count=count+1
print(f"the sum of divisors of {n3} is {count}")

enter the number for divisors needed: 75

the sum of divisors of 75 is 6

In [91]:
# q8) 
# ask the get 5 random numbers
# means you need a get a random number inside for loop 
# the loop should run 5 times 
# now perform the even and odd operation 
# 1) even count # 2) sum of even numbers 3) odd count 4) sum of add

import random 
count_even=0
count_odd=0
sum_even=0
sum_odd=0
for i in range(5):
    number=random.randint(1,100)
    if number%2==0:
       print(number)
       count_even=count_even+1
       sum_even=sum_even+number
    else:
        print(number)
        count_odd=count_odd+1
        sum_odd=sum_odd+number
print(f"there are {count_even} even numbers")
print(f"the sum  of even number is {sum_even} ")
print(f"there are {count_odd} even number ")
print (f" the sum of odd number is {sum_odd}")

1
62
19
95
70
there are 2 even numbers
the sum  of even number is 132
there are 3 even number
 the sum of odd number is 115

In [ ]:

for i in range(3):
    numb1=eval(input("enter the number "))
    numb2=random.randint(1,10)
    if numb1==numb2:
    
        print("you won")
    else:
        print("you lost")

In [31]:
for i in range(1,200):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [47]:
string = "tejkumar ,manasa"
for char in string:
    print(char)

t
e
j
k
u
m
a
r

,
m
a
n
a
s
a

In [49]:
i =1
while i<6:
    print(i)
    i +=1

1
2
3
4
5

In [5]:
from num2words import num2words
number = 55
words = num2words(number)
print(words)

ModuleNotFoundError: No module named 'num2words'

**in**

- in for loops we have range in opertors
- range is  math related word, whenever we range it expect a number inside range
- in operator expects a string

In [3]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range('python'):
    print(i,end=' ')

TypeError: 'str' object cannot be interpreted as an integer

In [9]:
for i in 'python':
    print(i,end=' ')

p y t h o n

In [13]:
'p' in 'python'

True

In [15]:
'p' in 'pythom'
'y' in 'python'
't' in 'pyhon'
't' in 'python'
'o' in 'python'
'n' in 'python'

True

**ASCIT**
  - AMERICAN STANDARD CODE FOR INFORMATION INTERCHANGE

In [18]:
#'A' ===65
#'a' ===97

'A'>'a' #65>97

False

- How to convert char to number 
- how to convert number to char

**char-ord**

In [30]:
ord('T')

84

In [28]:
chr(65)

'A'

In [34]:
ord(' ')

32

In [36]:
chr(32)

' '

- so **ord** converting char to number
- **chr** converting number to chr

In [ ]:
# wap ask the user get the ascii number from A to Z
# print:A:65
#       B:66

**package:string**

In [ ]:
import <pacakgename>
dir(<packagename>
in that A TO Z will be given by one method tell me that

In [44]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [46]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [48]:
string.digits

'0123456789'

In [54]:
for i in string.ascii_uppercase:
    print(f"{i}:{ord(i)}")

A:65
B:66
C:67
D:68
E:69
F:70
G:71
H:72
I:73
J:74
K:75
L:76
M:77
N:78
O:79
P:80
Q:81
R:82
S:83
T:84
U:85
V:86
W:87
X:88
Y:89
Z:90

In [56]:
for i in string.punctuation:
    print(f"{i}:{ord(i)}")

!:33
":34
#:35
$:36
%:37
&:38
':39
(:40
):41
*:42
+:43
,:44
-:45
.:46
/:47
::58
;:59
<:60
=:61
>:62
?:63
@:64
[:91
\:92
]:93
^:94
_:95
`:96
{:123
|:124
}:125
~:126

In [58]:
for i in string.digits:
    print(f"{i}:{ord(i)}")

0:48
1:49
2:50
3:51
4:52
5:53
6:54
7:55
8:56
9:57

In [64]:
for i in range(33,127):
    print(f"{i}:{chr(i)}")

33:!
34:"
35:#
36:$
37:%
38:&
39:'
40:(
41:)
42:*
43:+
44:,
45:-
46:.
47:/
48:0
49:1
50:2
51:3
52:4
53:5
54:6
55:7
56:8
57:9
58::
59:;
60:<
61:=
62:>
63:?
64:@
65:A
66:B
67:C
68:D
69:E
70:F
71:G
72:H
73:I
74:J
75:K
76:L
77:M
78:N
79:O
80:P
81:Q
82:R
83:S
84:T
85:U
86:V
87:W
88:X
89:Y
90:Z
91:[
92:\
93:]
94:^
95:_
96:`
97:a
98:b
99:c
100:d
101:e
102:f
103:g
104:h
105:i
106:j
107:k
108:l
109:m
110:n
111:o
112:p
113:q
114:r
115:s
116:t
117:u
118:v
119:w
120:x
121:y
122:z
123:{
124:|
125:}
126:~

In [68]:
for i in range(3072,3199):
    print(f"{i}:{chr(i)}")

3072:ఀ
3073:ఁ
3074:ం
3075:ః
3076:ఄ
3077:అ
3078:ఆ
3079:ఇ
3080:ఈ
3081:ఉ
3082:ఊ
3083:ఋ
3084:ఌ
3085:఍
3086:ఎ
3087:ఏ
3088:ఐ
3089:఑
3090:ఒ
3091:ఓ
3092:ఔ
3093:క
3094:ఖ
3095:గ
3096:ఘ
3097:ఙ
3098:చ
3099:ఛ
3100:జ
3101:ఝ
3102:ఞ
3103:ట
3104:ఠ
3105:డ
3106:ఢ
3107:ణ
3108:త
3109:థ
3110:ద
3111:ధ
3112:న
3113:఩
3114:ప
3115:ఫ
3116:బ
3117:భ
3118:మ
3119:య
3120:ర
3121:ఱ
3122:ల
3123:ళ
3124:ఴ
3125:వ
3126:శ
3127:ష
3128:స
3129:హ
3130:఺
3131:఻
3132:఼
3133:ఽ
3134:ా
3135:ి
3136:ీ
3137:ు
3138:ూ
3139:ృ
3140:ౄ
3141:౅
3142:ె
3143:ే
3144:ై
3145:౉
3146:ొ
3147:ో
3148:ౌ
3149:్
3150:౎
3151:౏
3152:౐
3153:౑
3154:౒
3155:౓
3156:౔
3157:ౕ
3158:ౖ
3159:౗
3160:ౘ
3161:ౙ
3162:ౚ
3163:౛
3164:౜
3165:ౝ
3166:౞
3167:౟
3168:ౠ
3169:ౡ
3170:ౢ
3171:ౣ
3172:౤
3173:౥
3174:౦
3175:౧
3176:౨
3177:౩
3178:౪
3179:౫
3180:౬
3181:౭
3182:౮
3183:౯
3184:౰
3185:౱
3186:౲
3187:౳
3188:౴
3189:౵
3190:౶
3191:౷
3192:౸
3193:౹
3194:౺
3195:౻
3196:౼
3197:౽
3198:౾