**DICTIONARY**

In [6]:
names=['rakesh','uday','teja']
age=[20,21,22]
#'rakesh age is 20'
#'uday age is 21'

for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

rakesh age is 20
uday age is 21
teja age is 22

**zip**

In [15]:
names=['rakesh','uday','teja']
age=[20,21,22]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

rakesh 20
rakesh age is 20
uday 21
uday age is 21
teja 22
teja age is 22

In [21]:
names=['rakesh','uday','teja']
age=[20,21,22]
for i,j in zip(names,age):
    print(i)

rakesh
uday
teja

In [23]:
names=['rakesh','uday','teja']
age=[20,21,22]
for i,j in zip(names,age):
    print(j)

20
21
22

In [25]:
names=['rakesh','uday','teja']
age=[20,21,22]
for i,j in zip(names,age):
    print(i,j)

rakesh 20
uday 21
teja 22

**dictionary**

- in above example names and age both are together 
- when both are together we can pair them 
- this can happen using dictionary
- dictionary is calles as **key-value** pair
- if represents with curly braces : **{key:values}**
- rakesh and 20 years both are pair:{'rakesh':20}

In [28]:
d1={'rakesh':20,'uday':21,'teja':22}
d1

{'rakesh': 20, 'uday': 21, 'teja': 22}

In [3]:
d2={20:'rakesh',21:'uday',22:'teja'}
d2

{20: 'rakesh', 21: 'uday', 22: 'teja'}

In [5]:
#start you imagination make a dictionary with make way

d3={'naresh':20,'it':21,'institute':22}
d3

{'naresh': 20, 'it': 21, 'institute': 22}

In [7]:
d4={'rakesh','uday','teja'}
d4

{'rakesh', 'teja', 'uday'}

In [9]:
d5={'names':['rakesh','uday','teja'],'sports':['mike tyson','rapo','sangepu']}
d5

{'names': ['rakesh', 'uday', 'teja'],
 'sports': ['mike tyson', 'rapo', 'sangepu']}

In [11]:
d6={'rakesh':20,'uday':21,}
d6

{'rakesh': 20, 'uday': 21}

In [20]:
d7={'rakesh':20,'uday':21}
d7

{'rakesh': 20, 'uday': 21}

In [22]:
d8={20:'rakesh',21:'uday',22:'teja'}
d8

{20: 'rakesh', 21: 'uday', 22: 'teja'}

In [28]:
d9={20:'teja'}
d9

{20: 'teja'}

In [30]:
d10={20:'rakesh',21:'uday',22:'teja'}
d10

{20: 'rakesh', 21: 'uday', 22: 'teja'}

**list as keys fails because list has a mutable behaviour**

**tuple as keys works because tuple has immutable behaviour**

**in dictionary keys are very very important**

**keys does not change so when  we apply list is failin**

- if both keys  are same it will take the latest value
- dictionary does not allow duplicates
- in dictionary key pays vital rols
- key can not be duplicate but values cam be duplicates

In [1]:
d14={'fruits':{

SyntaxError: unterminated string literal (detected at line 1) (1166994890.py, line 1)

In [6]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}
# apply min max sum sorted reversed
min(dict1),max(dict2),min(dict3)

('apple', 'apple', 20)

In [7]:

min(dict1),max(dict2),min(dict3)

NameError: name 'dict1' is not defined

In [10]:
sum(dict3)

100

In [12]:
sorted(dict1),sorted(dict2),sorted(dict3)

(['apple', 'banana', 'cherry'], ['apple'], [20, 30, 50])

In [22]:
list(reversed(dict1))

['cherry', 'banana', 'apple']

In [28]:
len(dict1)

3

In [30]:
dict1={'apple':20,'banana':30,'cherry':50}
'apple' in dict1 #1
20 in dict1  #2
'apple':20 in dict1 #

SyntaxError: illegal target for annotation (2356551606.py, line 4)

In [40]:
dict1={'apple':20,'banana':30,'cherry':50}
for i in dict1:
    print(i)

apple
banana
cherry

In [36]:
dict1={'apple':20,'banana':30,'cherry':50}
'apple' in dict1
'banana' in dict1
'cherry' in dict1

True

In [38]:
for i in dict1:
    print(i)

apple
banana
cherry

In [43]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1[0]

KeyError: 0

**how to extract the values**

- in dictionary we have a accept key:value pair
- keys are very important
- inorder to get the values we need to take keys help

In [53]:
dict1={'apple':20,'banana':30,'cherry':10}
dict1['apple']
dict1['banana']
dict1['cherry']

10

In [57]:
for i in dict1:
    print(i,dict1[i])

apple 20
banana 30
cherry 10

In [61]:
#names={'rakesh','uday','teja'}
#age=[20,21,22]
#'rakesh age is 20'
#'udayn age is 21'
d1={'rakesh':20,'uday':21,'teja':22}
d1

for i in d1:
    print(i)

rakesh
uday
teja

In [63]:
d1={'rakesh':20,'uday':21,'teja':22}
for key in names:
    value=names[key]
    print(f'[key] age is {value}')

NameError: name 'names' is not defined

In [65]:
d={'fruits':['apple','banana','cherry']}
d['fruits'][2]

'cherry'

In [67]:
d={'fruits':{'apple':['sweet','sour','green']}}
d
d['fruits']['apple'][2]

'green'

In [75]:
d={'fruits':[{'cost':[50]}]}
d
d['fruits'][0]['cost'][0]

50

In [42]:
d={'fruites':['apple'],'cost':[{'1kg':[20,30,40],
                                '2kg':None}]}
d

d['fruites'][0]['1kg'],d['cost'][0]['2kg']['2']

TypeError: string indices must be integers, not 'str'

In [34]:
d={'fruites':{'orange':{'nagpur':{'MH':{'king':{'shivaji':{'shambaji'}}}}}}}
d['fruites']['orange']['nagpur']['MH']['king']['shivaji']

{'shambaji'}

**how to create empty dictionary**

- now onwards focus on creation of empty of list,strings ans dictionary

- we will take empty list will use append operation

- we will take empty strings will use conctenation

- we will take empty dictionary will use key:value pair concept

In [45]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [49]:
# strings
s=''
s=s+'p'
s=s+'p'
s=s+'y'
s

'ppy'

In [51]:
# dictionary
d={}
d['rakesh']=20
d

{'rakesh': 20}

In [55]:
d={}
d['rakesh']=20
d['uday']=21
d['teja']=22
d

{'rakesh': 20, 'uday': 21, 'teja': 22}

In [ ]:
d={}
d['rakesh']=20
d['uday']=21
d['teja']=22
# d[key]=value
#h[j]=j

**how to convert dictionary**

In [58]:
names=['teja','rakesh','uday']
age=[20,21,22]

dict1={}
for i ,j in zip(names,age):
    dict1[i]=j
dict1

{'teja': 20, 'rakesh': 21, 'uday': 22}

**dictionary comprehension**

- for list comprehension we written everything inside list
- for dict comprehension we should write everything inside dictionary

In [64]:
# list comprehension :[<output> <for loop>]
# list comprehnsion:{key:value <for loop>}


names=['teja','rakesh','uday']
age=[20,21,22]
{i:j for i,j in zip(names,age)}

{'teja': 20, 'rakesh': 21, 'uday': 22}

**mutable-immutable**

- list are mutable
- dictionary are also mutable
- strings mutable
- tuple immutable
- in dictionary we can change the values using keys

In [67]:
d={'rakesh':20,'uday':21,'teja':22}
d['rakesh']=22
d

{'rakesh': 22, 'uday': 21, 'teja': 22}

**mathod**

In [70]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault'

- clear
- copy
- keys
- values
- items

**keys**

In [2]:
d={'rakesh':20,'uday':21,'teja':22}
keys=d.keys()
keys

dict_keys(['rakesh', 'uday', 'teja'])

In [4]:
type(keys)

dict_keys

In [6]:
keys.count('rakesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**convert dictionary to list**

- in oreder to convert dictionary to list 
- first to we need to list separate keys and value
- then apply list typing casting

In [9]:
d={'rakesh':20,'uday':21,'teja':22}
keys=d.keys()
keys_list=list(keys)
keys_list

['rakesh', 'uday', 'teja']

In [13]:
d={'rakesh':20,'uday':21,'teja':22}
values=d.values()
values_list=list(values)
values_list

[20, 21, 22]

In [15]:
d={'rakesh':20,'uday':21,'teja':22}
items=d.items()
items_list=list(items)
items_list

[('rakesh', 20), ('uday', 21), ('teja', 22)]

In [17]:
type(keys_list),type(keys)

(list, dict_values)

In [19]:
keys_list.count('rakesh')

1

In [21]:
keys_list.count('uday')

1

In [23]:
keys_list.count('teja')

1

In [ ]:
list ===    string using join
string  === lists using split
list  ====  dict zip
dict ===   list typecasting

In [17]:
#input ='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhocni@csk.com'
#output={'first':['virat,'rohit','ms',],

#idea : first convert string to list 
#        from there extract 3 lists
#        1) fname 2) sname 3) cname
#        from 3 lists create dictionary

input_string = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input_string.split(';')
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
d['fname']=fname
d['sname']=sname
d['cname']=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

- **pop** in dictionary ,similar analogy  **remove** in list
- **pop item** in dictionary ,similar analogy **pop** in list

**get**

In [25]:
d={'rakesh':20,'uday':21,'teja':22}
d.get('rakesh')

20

In [29]:
d['rakesh'] # key as a an index

20

**update**

- upadte is similar analogy **list extend**
- take two dictionary and apply update method

In [45]:
d1={'ramesh':20,'suresh':21,'sathish':22}
d2={'teja':21,'rakesh':22,'uday':20}
d1.update(d2)
d1

{'ramesh': 20,
 'suresh': 21,
 'sathish': 22,
 'teja': 21,
 'rakesh': 22,
 'uday': 20}

**setdefault**

- suppose already existed dictionary available
- we can update the dictionary with new key :value pair

In [50]:
d1={'ramesh':20,'suresh':25,'sathish':30}
d1.setdefault('manish')
d1.setdefault('mahesh',35)
d1

{'ramesh': 20, 'suresh': 25, 'sathish': 30, 'manish': None, 'mahesh': 35}

- **set default** in dictionary ,similar analogy **list append**
- always remember dictionary is a key:value pair concept
- it never involves index operataions
- that why we dont have any index or find methods
- we have get methods to extract values using key

**from keys**

- create a dictionary with different keys but same value
- from keys will take an argument **iterable**
- try to provide an iterator as an argument i,e, single,list,tuple

In [58]:
d={}
names=['teja','rakesh','uday']
d.fromkeys(names,'nareshit')

{'teja': 'nareshit', 'rakesh': 'nareshit', 'uday': 'nareshit'}

In [60]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- **pop** in dictionary, similar analogy **remove**  in list
- **pop item** in dictionary, similar analogy **pop** in list
- **update in dictionary**, similar analogy **list extend**
- **setdefault** in dictionary, similar analogy **list append**
- **get** in dictionary, similar analogy **list index**
- list has count , string has count and tuple also has count
     - but dictionarys does not have **count**
     - becuase dictionary does not allow **duplicates**
- strings has find but list does not have

**lambda function**

- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

In [2]:
x = lambda a: a + 20
print(x(10))

30

In [4]:
x = lambda a, b : a - b
print(x(5, 3))

2

In [6]:
Lambda functions can take multiple arguments # true

SyntaxError: invalid syntax (1120746838.py, line 1)

In [8]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(4)
mytripler = myfunc(5)

print(mydoubler(12)) 
print(mytripler(12))

48
60